.container {
    max-width: 500px;
    width: 100%;
    background: #5845a7;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 35px;
    padding-bottom: 35px;

}


.title {
    color: #ffffff;
    font-size: 30px;
    margin-bottom: 35px;
    text-align: center;
}


link:hover {
    background-color: #013668;
}



.field input {
    width: 100%;
    font-size: 18px;
    height: 55px;
    border: none;
    color: #9c9c9c;
    line-height: 16px;
    padding-left: 30px;
    border-radius: 10px;

}

.field {
    margin-bottom: 35px;

}

.link{
    font-size: 15px;
    cursor: pointer;
    float: right;
    


}

a{
    text-decoration: none;
    color: #ffffff;
}
a:hover{
    text-decoration: none;
    color: #013668;
   }




.link2 {
    font-size: 15px;
    cursor: pointer;
    margin-top: 100px;
    text-transform: uppercase; 
    display: block;  
    text-align:center;
    
}


/*
.button input[type=radio] {
    position: absolute;
    top: 25px;
    left: 25px;
    z-index: -1;
}

.button label {
    cursor: pointer;
    user-select: none;
    display: block;
    color: #ffffff;
    background: #399ffe;
    font-size: 23px;
    height: 55px;
    width: 100%;
    border: none;
    border-radius: 10px;
    line-height: 55px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 15px;
}



.button input[type=radio]:checked~label {
    background-color: #013668;
}
*/

button:hover {
    background-color: #013668;
}

button {
    cursor: pointer;
    user-select: none;
    display: block;
    color: #ffffff;
    background: #399ffe;
    font-size: 23px;
    height: 55px;
    width: 100%;
    border: none;
    border-radius: 10px;
    line-height: 55px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 15px;
}